* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #4387c3;
  transition: all 0.3s;
  target: "_blank";
}
/*.publication a {*/
/*  color: inherit;*/
/*}*/
a:hover {
  color: #245680;
}
.email {
  text-decoration: none;
  color: #25569d;
  transition: none;
}
.email:hover {
  color: #25569d;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.namecard::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.namecard .avatar {
  float: left;
  vertical-align: middle;
}
.namecard .avatar img {
  width: 260px;
}
.namecard .information {
  display: inline-block;
  margin-left: 10px;
  max-width: calc(100% - 270px);
}
.namecard .information p {
  padding-bottom: 10px;
}
.paper_items {
  float: right;
}
/*.paper_items a {*/
/*  color: rgba(37, 86, 157, 0.8);*/
/*}*/
.paper-conference {
  font-style: italic;
}
@media (max-width: 861px) {
  .namecard .avatar {
    float: none;
  }
  .namecard .avatar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .namecard .information {
    margin-top: 20px;
    display: block;
    max-width: 100%;
    margin-left: 0;
  }
}
/*.author {*/
/*  color: #4a4a4a;*/
/*}*/
.author strong {
  color: #000;
}
.publication {
  margin-top: 10px;
}
.publication .item {
  margin-top: 5px;
}
.publication .item .information {
}
.publication .item .information div {
  /*padding-bottom: 5px;*/
}
.publication .item .information .title {
  max-width: 450px;
  font-weight: 500;
  /*font-weight: bold;*/
}
.publication .item .information .year {
  padding-left: 10px;
  display: block;
  float: right;
}
.publication .item .author .author-me {
  display: inline;
    font-weight: 500;
  color: black;
}
.publication .item .avatar {
  float: left;
  padding: 0;
}
.publication .item .avatar img {
  width: 320px;
}
.publication .item::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.experience {
  margin-top: 10px;
}
.experience .item {
  margin-top: 5px;
}
.experience .item .year {
  float: right;
}


.award {
  margin-top: 10px;
}
.award .item {
  margin-top: 5px;
}
.award .item .year {
  float: right;
}
.project {
  margin-top: 10px;
}